@import '../../styles/variables.css';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	height: 2em;
	background-color: var(--colour-primary-700);
	color: var(--md-blue-grey-600);
	font-size: var(--font-size-md);

	@media (--screen-sm) {
		justify-content: flex-start;
	}
}

.logo {
	display: flex;
	align-items: baseline;
	/* height: 2em; */
	padding-right: 1em;
	padding-left: var(--spacing-lg);
	margin-left: 0;
	font-size: var(--font-size-sm);
	color: white;
	background-color: var(--colour-primary-700);
	border-right: 1px solid var(--colour-primary-200);
}

.logo__abs {
	font-family: var(--font-primary);
	font-weight: 700;
}

.logo__text {
	font-family: var(--font-primary);
	font-weight: 600;
	font-size: 1em;
}

.header__title {
	color: var(--colour-white);
	text-transform: uppercase;
	font-weight: bolder;

	@media (--screen-sm) {
		display: none;
	}
}

.arrow {
	align-self: center;
	cursor: pointer;
}

.menu-icon {
	margin-right: 0;
	color: var(--colour-primary-100);

	@media (--screen-sm) {
		display: none;
	}
}

.menu {
	display: none;

	@media (--screen-sm) {
		display: block;
		flex: 1;
		margin-left: var(--spacing-xxs);
		background-color: var(--colour-primary-50);
	}

	& ul {
		display: flex;
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
	}

	& li {
		display: flex;
		align-items: center;
		height: 4em;
		padding: 0 1em;
		transition: background-color 0.3s;

		@media (--screen-sm) {
			height: 2em;
		}

		& a {
			color: var(--colour-white);

			@media (--screen-sm) {
				color: var(--colour-primary-600);
				font-size: var(--spacing-sm);
			}
		}

		&.is-active {
			background-color: var(--colour-primary-900);

			& a {
				color: var(--colour-white);
				font-weight: bolder;
				opacity: 1;
			}
		}

		&:last-child {
			border-top: 3px solid var(--colour-primary-500);

			@media (--screen-sm) {
				border-top: none;
				margin-top: 0;
				margin-left: auto;
			}

			& a {
				font-size: var(--font-size-sm);

				@media (--screen-sm) {
					margin-left: auto;
					padding-top: 0;
					padding-left: var(--spacing-lg);
					/* border-left: 1px solid var(--colour-primary-50); */
				}
			}
		}
	}

	&.is-active {
		@media (--screen-max-sm) {
			position: absolute;
			z-index: 10;
			display: block;
			width: 100%;
			top: 2em;

			& ul {
				display: block;
				flex-direction: column;
				background-color: var(--colour-primary-700);
				width: 100%;

				& li {
					padding-left: var(--spacing-md);
				}
			}
		}
	}
}
