@import '../../styles/variables.css';

.data-set-selector {
	position: relative;
	z-index: 2;
}

.data-set-selector__title {
	display: block;
	padding: 0.2em;
	cursor: pointer;

	&:hover {
		color: var(--colour-highlight);
	}
}

.data-set-selector__title.is-active {
	background-color: var(--colour-highlight);
	/*background-color: ${deepOrange['500']};*/
	color: white;

	&:hover {
		color: white;
	}
}
