@import '../../styles/variables.css';

.page__header {
	display: flex;
	margin-top: 1em;
	height: 5em;
	/* background-color: var(--colour-primary); */
}

article {
	/*max-width: 30em;*/
	/*margin: 0 auto;*/
}
