header {
  /*background-color: ${blueGrey['700']};*/
  color: white;
  height: 2.95em;
  transition: 0.3s;
  overflow: hidden;

  &.is-active {
    height: 5.9em;
  }
}

a:link, a:visited {
  color: white;
}

.logo {
  font-size: 1em;
  line-height: 3;
  margin-left: 1em;
  display: flex;
  align-items: baseline;
}

.logo__abs {
  font-family: 'Roboto';
  font-weight: 700;

  /*color: #00796B;*/
}

.logo__text {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1em;
}

.arrow {
  align-self: center;
  cursor: pointer;
}

.menu {
  /*display: none;*/

  /*background-color: ${blueGrey['600']};*/

  & ul {
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    line-height: 3;
  }

  & li {
    /*margin-right: 1.5em;*/
    padding-left: 1em;
    padding-right: 1em;

    &.is-active {
      /*background-color: ${orange['900']};*/
    }
  }

  /*&.is-active {
      display: block;
    }*/
}
