@import '../../styles/variables.css';

.chart-selected-dimensions {
	display: flex;
	/* margin-top: var(--spacing-lg); */
	/* margin-bottom: var(--spacing-sm); */
	font-weight: 500;
	font-size: var(--font-size-sm);
	line-height: 1.35;

	& button {
		color: var(--colour-primary);
		background-color: var(--colour-primary-50);
		border-radius: var(--border-radius);
	}
}
