@import '../../styles/variables.css';

.data-set-browser {
	margin-top: var(--spacing-xs);
	border: 1px solid var(--colour-primary-50);
	border-radius: var(--border-radius);

	& ul {
		display: block;
		height: 12em;
		margin: 0;
		/* overflow: auto; */
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
		padding: 0;

		/* border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius); */
		color: var(--colour-grey-darkest);
	}

	& li {
		list-style: none;
		font-size: var(--font-size-sm);
		/* margin-bottom: var(--spacing-xs); */
		padding: var(--spacing-xs) var(--spacing-xs);
	}
}

.data-set-browser__input {
	width: 100%;
	padding: var(--spacing-sm) var(--spacing-xs);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--colour-primary-50);
	font-size: var(--font-size-sm);

	&:focus {
		outline-width: 0;
		border: 1px solid var(--colour-primary-300);
		margin-bottom: -1px;
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075),
			0 0 0 3px var(--colour-primary-50);
	}

	&::placeholder {
		color: var(--colour-grey-light);
	}
}

.data-set-browser__item--selected {
	font-weight: 700;
	color: var(--colour-primary);
}

.data-set-browser__item--highlighted {
	background-color: var(--colour-primary-50);
}
