@import '../../styles/variables.css';

@lost gutter 0.5em;

.box .Select {
	padding-top: var(--spacing-md);
}

.chart-header {
	padding: 1em 0;
	/* margin-bottom: var(--font-size-md); */
	/* background-color: var(--colour-primary-50); */

	/* &.is-open {
		height: 20em;
	} */
}

.chart-header__title {
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	font-size: var(--font-size-lg);
	font-weight: 600;
	line-height: var(--line-height-lg);
	color: var(--colour-grey-darkest);
	opacity: 1;

	&:hover {
		color: var(--colour-primary);
	}

	@media (--screen-sm) {
		font-size: var(--font-size-xxlg);
		line-height: var(--line-height-xxlg);
	}

	/* Change Button */
	& span {
		font-size: var(--font-size-xxxs);

		@media (--screen-sm) {
			font-size: var(--font-size-xxxxs);
		}

		& i {
			font-size: 1em;
			margin: 0;
			line-height: 1;
		}
	}
}

.chart-header__inside {
	/* padding-left: 1em; */
	/* padding-right: 1em; */
}

.chart-header__slug {
	color: var(--colour-primary-300);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);

	@media (--screen-sm) {
		font-size: var(--font-size-xs);
		line-height: var(--line-height-xs);
	}
}

.chart-header__chart-dimensions {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 80%;
	height: 100%;
	transform: translateX(-100%);
	transition: 0.3s;
	background-color: white;

	&.is-active {
		transform: translateX(0);
	}

	@media (--screen-sm) {
		position: relative;
		width: 100%;
		transform: none;
		z-index: 1;
	}
}

.chart-header__chart-selected-dimensions {
	margin-top: 1em;

	@media (--screen-sm) {
		display: none;
	}
}

.chart-header__main-dimension {
	background-color: white;
	padding-bottom: var(--spacing-xxs);

	& h1 {
		display: flex;
		margin-top: var(--spacing-lg);
		margin-bottom: var(--spacing-xs);
		align-items: center;
		font-size: var(--spacing-sm);
		font-weight: 500;
		line-height: var(--line-height-sm);
		text-transform: uppercase;

		& i {
			font-size: var(--spacing-md);
			margin-right: 0.5em;
			padding: 0.2em;
			background-color: var(--colour-primary-700);
			color: white;
			border-radius: var(--border-radius);
		}
	}
}
