@import '../../styles/variables.css';

.chart-footer {
	text-align: left;
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);
	color: var(--colour-grey);

	@media (--screen-sm) {
		margin-top: var(--spacing-xlg);
	}
}
