@import '../../styles/variables.css';

.chart-footer {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);

	& p {
		color: var(--colour-grey);
	}

	@media (--screen-sm) {
		flex-direction: row;
		margin-top: var(--spacing-xxlg);
	}
}

.chart-footer__content {
	margin-right: auto;
}

.chart-footer__share-box {
	height: 1em;
	margin-top: 1em;
	font-size: var(--font-size-xlg);
}
