@import '../../styles/variables.css';

.share-box__title {
	display: block;
	font-size: var(--font-size-xs);
	margin-bottom: 1em;
	color: var(--colour-primary-500);
	text-transform: uppercase;

	@media (--screen-sm) {
		text-align: right;
	}
}

.share-box__icon {
	display: inline-block;
	height: var(--spacing-xlg);
	width: var(--spacing-xlg);
	margin-right: 1em;
	background-color: var(--colour-primary-500);

	@media (--screen-sm) {
		margin-right: 0;
		margin-left: 1em;
	}
}

.share-box__icon--twitter {
	background: url(/static/icons/logo-twitter.svg);
}

.share-box__icon--facebook {
	background: url(/static/icons/logo-facebook.svg);
}
