@import '../../styles/variables.css';

.share-box {
	display: flex;
	align-items: center;
}

.share-box__title {
	display: block;
	margin-bottom: 1em;
	padding-right: 1em;
	border-right: 1px solid var(--colour-primary-50);
	font-size: var(--font-size-xs);
	color: var(--colour-primary-500);
	text-transform: uppercase;

	@media (--screen-sm) {
		text-align: right;
	}
}

.share-box__icon {
	display: inline-block;
	height: var(--spacing-xlg);
	width: var(--spacing-xlg);
	margin-left: var(--spacing-lg);
	background-color: var(--colour-primary-500);
}

.share-box__icon--twitter {
	background: url(/static/icons/logo-twitter.svg);
}

.share-box__icon--facebook {
	background: url(/static/icons/logo-facebook.svg);
}
