@import 'normalize.css/normalize.css';
@import './variables.css';

/*
 * BASE STYLES
 * ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  /*font-family: Helvetica, Arial, sans-serif;*/
}

body {
  color: var(--colour-primary);
}
