@import url('https://rsms.me/inter/inter-ui.css');
@import 'normalize.css/normalize.css';
@import './variables.css';

/*
 * BASE STYLES
 * ========================================================================== */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	position: relative;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Inter UI', sans-serif;
	letter-spacing: -0.01em;
	font-size: 18px;
	line-height: 1.6;
	margin: 0;
	color: var(--colour-primary);
	background-color: white;
}

h1,
.h1 {
	font-size: var(--font-size-xxlg);
}

h2,
.h2 {
	font-size: var(--font-size-xlg);
}

h3,
.h3 {
	font-size: var(--font-size-lg);
}

h4,
.h4 {
	font-size: var(--font-size-md);
}

h5,
.h5 {
	font-size: var(--font-size-sm);
}

a:link,
a:visited {
	text-decoration: none;

	color: var(--colour-highlight-500);
}

a:hover,
a:active {
	text-decoration: underline;
}

ul[role='menu'] {
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
}
